body{
    position: relative;
    z-index: 0;
    background-image: url(giftpattern.jpg);
    font-family: monospace;
}


.inbutton{
    text-align: center;
}


.carousel{
    border: solid 1vh brown;
    text-align: center;
}


marquee{
    font-size: 20vh;
}


.titlebirth{
    text-align: center;
    font-size: 10vh;
}


.text-carousel2{
    color: black;
}


.text-carousel1{
    color: black;
}


.call{
    font-size: 5vh;
}

.tel{
    
}

.e-mail-me{
    font-size: 5vh;
}


.mail{
    font-size: 25vh;
}


.tel{
    font-size: 25vh;
}


a{
    color: green;
}


.titleschedule3{
    font-size: 5vh;
text-align: center;
border: solid 1vh yellow;
}


.schedule18{
    text-align: center;
    font-size: 3vh;
    animation: forwards 60s blink;
    border: solid 1vh brown;
}
@keyframes blink{
    0%{opacity: 1;
    font-size: 3vh;}
    50%{
        opacity: 1;
        font-size: 4vh;
    }
    100%{
        opacity: 1;
        font-size: 3vh;
    }
}


.d-flex{
    text-align: center;
}


.mcimg{
    border: solid 1vh yellow;
    text-align: left;
}


.suhiimg{
    border: solid 1vh blue;
    text-align: center;
}


.pizzaimg{
    border: solid 1vh green ;
    text-align: right;
}


.schedule16{
    border: solid 1vh blue;
    font-size: 3vh;
    text-align: center;
}


.titleschedule2{
    border:  solid 1vh purple;
    font-size: 5vh;
    text-align: center;
}


.fifa22img{
    border: solid 1vh white;
    text-align: center;

}


.gifts{
    color: black;
    animation: blink 10s forwards;
}
@keyframes blink{
    0%{
        opacity: 1;
        font-size: 5vh;
    }
    50%{
        opacity: 0;
        font-size: 10vh;
    }
   100%{
opacity: 1;
font-size: 5vh;
    }


}


.iphone13{
    text-align: center;
}


.airpodsmax{
    text-align: left;
}


.applewatch{
    text-align: right;
}


.joycon{
    font-size: 20vh;
}


.titleschedule{
    font-size: 10vh;
    text-align: center;
    border: solid 1vh darkblue;
}

.schedule15{
    border: solid 1vh green;
    text-align: center;
    font-size: 3vh;
     animation: blink 5s forwards;
}
@keyframes blink{
    0%{
        opacity: 1;
        font-size: 2vh;
    }
    50%{
        opacity: 1;
        font-size: 5vh;
    }
   100%{
opacity: 1;
font-size: 6vh;
    }
}


p{
    font-size: 5vh;
}
